@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
   }

   @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
   }

   
   body {
       font-family: "PT Sans", sans-serif;
       font-weight: 400;
       font-size: 22px;
       line-height: 26px;
       color: #000000;
       background-color: #FFFFFF;
   }

   .button {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
   }

   .brown-button {
    background-color: #756257;
   }

   .blue-button {
    background-color: #83B3D3;
   }

   .green-button {
       background-color: #7DB54F;
   }

   .navigation-link {
       font-size: 20px;
       font-weight: 700;
       line-height: 26px;
       text-decoration: none;
       color: #000000;
       background-color: #FFFFFF;
   }


   .user-menu-link {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    background-color: #FFFFFF;
   }

   .user-menu-button {
    font-size: 16px;
    line-height: 20px;
   }

   .main-page {
    color: #000000;
    background-color: #FFFFFF;
    text-align: center; 
    }   

   .inner-page {
    font-size: 18px;
    line-height: 23px;
    }

   .main-blok {
    background-image: url("../images/index/index-background.jpeg");
    background-size: 100% auto;
    background-repeat: no-repeat;
   }

   .advantages-description-title.about {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
   }

   .advantages-description {
    font-size: 18px;
    line-height: 21px;
   }

   .advantages-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: bold;
   }

   .bg-blue {
       color: #FFFFFF;
       background-color: #83B3D3;
   }

   .bg-gray {
    color: #000000;
    background-color: rgba(131, 179, 211, 0.12);
   }

   .bg-dark-gray {
   color: #000000;
   background-color: rgba(131, 179, 211, 0.2);
  }

  .hotel-search-block-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
  }

  .hotel-search-button {
    line-height: 36px;
    border-radius: 10px;
  }

  .subscription {
      color: #FFFFFF;
      background-color: #83B3D3;
      background-image: url("../images/index/subscription-background.jpeg");
      background-repeat: no-repeat;
      background-size: 100% auto;
  }

  .subscription-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
  }
   
  .subscription-form input{
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
  }

  .subscription-button {
    line-height: 26px;
    border-radius: 0px 10px 10px 0px;
  }

  .footer-social a {
    color: #000000;
    text-decoration: none;
  }

  .footer-contacts-adress-phone {
      font-size: 40px;
      line-height: 40px;
      font-style: normal;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
      text-decoration: none;
  }

.hotel-search {
    color: #FFFFFF;
    background-color: #83B3D3;
    background-image: url("../images/catalog/catalog-background.jpeg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.hotel-search-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.breadcrumbs {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 21px;
}

.breadcrumbs-link {
    color: inherit;
    text-decoration: none;
}

.hotel-filter-titel {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.hotel-filter-group input {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.apply-button{
    font-size: 16px;
    line-height: 21px;
}

.reset-button {
    font-size: 18px;
    line-height: 23px;
    background-color: transparent;
    text-transform: none;
}

.hotel-search-results-titel {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
}

.select-control {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: #333333;
    background-color: #FFFFFF;
}

.hotel-search-menu-view-item a{
    color: #000000;
}

.hotel-card-link {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    text-decoration: none;
}

.hotel-card-button {
    font-size: 16px;
    line-height: 21px;
}

.hotel-rating {
    font-size: 16px;
    line-height: 21px;
    background: #F2F2F2;
    border-radius: 4px;
}

.pagination-load-more {
    line-height: 26px;
}

.pagination-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #83B3D3;
    border-radius: 4px;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.subscription-inner {
    color: #000000;
    background-color: #FFFFFF;
    text-align: center;
}


.subscription-inner-description {
    font-size: 22px;
    line-height: 26px;
}
 
.subscription-inner-form input{
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background: #F2F2F2;
}
